* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Overlock', cursive;

    background: #E4F1FF;
}

.general-header {
    height: 80vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
}

.general-header aside {
    position: absolute;
    height: 80vh;
    width: 100%;

    background-image: url('medias/walpaper.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    filter: brightness(0.7);

    z-index: -1;
}

.general-header h1 {
    padding-right: 10%;
    padding-left: 10%;
    color: white;

    font-size: 55px;
}

.article-header {
    height: 30vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.article-header div {
    height: 23vh;
    width: 65%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 5px;
}

.article-header div aside {
    position: absolute;
    height: 23vh;
    width: 65%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    border-radius: 5px;

    filter: brightness(0.6);
}

.article-header div h1 {
    color: white;
    font-size: 40px;
}

.article-header div article {
    position: absolute;
    padding-right: 65%;
    padding-bottom: 130px;
}

.article-header div article h2 {
    padding-left: 200%;
    padding-right: 120%;
    font-size: 40px;

    color: white;
    background: #89CAFF;
}

section {
    padding-top: 5%;
    padding-right: 10%;
    padding-left: 10%;
}

.desc {
    margin-bottom: 5%;
}

.desc p {
    color: #6b5c43;
    background: white;

    padding-right: 5%;
    padding-left: 5%;
    padding-top: 20px;
    padding-bottom: 20px;

    margin-left: 15%;
    margin-right: 15%;

    border-radius: 15px;

    font-size: 20px;
}


/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #ABD7FF;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Container around content */
.container {
    padding: 10px 50px;
    position: relative;
    background-color: inherit;
    width: 50%;
    transition: 0.3s;
}

/* The circles on the timeline */
.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: #89CAFF;
    border: 4px solid #60BDFF;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */
.left {
    left: 0;
}

/* Place the container to the right */
.right {
    left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid #ABD7FF;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #ABD7FF;
}

/* Add arrows to the right container (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid #ABD7FF;
    border-width: 10px 10px 10px 0;
    border-color: transparent #ABD7FF transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
    left: -16px;
}

/* The actual content */
.content {
    padding-top: 15px;
    padding-bottom: 15px;
    height: 175px;
    position: relative;
    border-radius: 2px;
    color: #E4F1FF;

    background: rgba(0, 0, 0, 0);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
}

.content aside {
    border-radius: 2px;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(0.7);
    transition: 0.3s;
}

.content:hover {
    cursor: pointer;
}

.content:hover aside {
    filter: brightness(0.6);
}

.content h2, p{
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 1;
}

.content h2 {
    font-size: 40px;
    background: #89CAFF;
}

.content p {
    font-size: 25px;
}

.button-main{
    position: fixed;
    left: 0;
    top: 57px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 20px;

    font-size: 30px;
    color: white;
    background: #89CAFF;
    text-decoration: none;

    transition: 0.3s;
}

.button-main:hover{
    padding-left: 15px;
}

.article-content {
    padding-right: 0;
    padding-left: 0;
    padding-top: 3%;
    padding-bottom: 3%;

    width: 65%;
    display: block;
    margin-right: auto;
    margin-left: auto;


    color: #6b5c43;
    background: white;
    border-radius: 15px;
}

.article-content p {
    margin-left: 15%;
    margin-right: 15%;
    font-size: 20px;

    text-align: justify;
}

/*PARTIE SPECIALE POUR LES MODIFICATION D'ARTICLE*/


.article-content form{
    width: 70%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

    margin-right: auto;
    margin-left: auto;
}

.article-content input{
    width: 100%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.article-content textarea{
    width: 100%;
    resize: none;
    min-height: 50vh;

    outline: none;
    font-family: 'Overlock', cursive;
    background: white;
    font-size: 20px;
    color: #6b5c43;
    border: none;

    padding: 2%;
}

/*AUTRE*/

.article-buttons {
    padding-right: 0;
    padding-left: 0;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-top: 4vh;

    width: 65%;
    display: block;
    margin-right: auto;
    margin-left: auto;


    color: #6b5c43;
    background: white;
    border-radius: 15px;
}

.article-buttons div {
    margin-left: 15%;
    margin-right: 15%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.button {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(137, 202, 255, 0.8);
    border: solid 2px #89CAFF;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    color: white;

    width: 25%;

    transition: 0.3s;
}

.button:hover {
    color: white;
    cursor: pointer;
    background-color: #89CAFF;
}

/*special form*/

.button-addarticle{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: solid 2px white;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    color: white;

    width: 25%;

    transition: 0.3s;
}

.button-addarticle:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.2);
}

/*AJOUTER UN ARTICLE*/

.admin-content-add{
    z-index: -10;
    opacity: 0;

    width: 100%;
    height: 100vh;

    transition: 0.5s;
    background: #8ccf89;
    position: absolute;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.admin-content-add-show{
    width: 100%;
    height: 100vh;

    z-index: 10;
    opacity: 1;

    transition: 0.5s;
    background: #8ccf89;
    position: absolute;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.close-icon{
    position: absolute;
    color: white;
    
    font-size: 40px;
    top: 3%;
    right: 2%;

    transition: 0.3s
}

.close-icon:hover{
    cursor: pointer;
    transform: scale(0.9);
}

.admin-add-article form{
    width: 50vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.admin-add-article input{
    width: 100%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.admin-add-article textarea{
    width: 100%;
    resize: none;
    height: 50vh;

    outline: none;
    font-family: 'Overlock', cursive;
    background: white;
    font-size: 20px;
    color: #6b5c43;
    border: none;

    padding: 2%;
}

.admin-add-article input[type="text"]{
    outline: none;
    font-family: 'Overlock', cursive;
    background: none;
    font-size: 50px;
    color: white;
    border: none;
    border-bottom: solid white 3px;
}

.admin-add-article input[type="text"]::placeholder{
    color: rgba(255, 255, 255);
    transition: 0.3s;
}

.admin-add-article input[type="text"]:focus::placeholder{
    color: rgba(255, 255, 255, 0.3);
}

.admin-add-article input[type="file"]{
    display: none;
}

.custom-file-upload{
    font-family: 'Overlock', cursive;
    background: rgba(255, 255, 255, 0);
    font-size: 18px;
    color: white;
    border: white solid 2px;

    text-align: center;
    margin-top: 3%;

    padding-top: 10px;
    padding-bottom: 10px;
    transition: 0.3s;

    width: 100%;
}

.custom-file-upload:hover{
    cursor: pointer;
    background: rgba(255, 255, 255, 0.2);
}


/*SUPPRIMER UN ARTICLE*/

.admin-content-remove{
    z-index: -10;
    opacity: 0;

    width: 100%;
    height: 100vh;

    transition: 0.5s;
    background: #dc8a68;
    position: absolute;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

    color: white;
}

.admin-content-remove-show{
    width: 100%;
    height: 100vh;

    z-index: 10;
    opacity: 1;

    transition: 0.5s;
    background: #dc8a68;
    position: absolute;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

    color: white;
}

.article-remove-list{
    width: 60vw;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.article-remove-list article{
    height: 100px;
    width: 275px;
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    overflow: hidden;
}

.article-remove-list article aside{
    position: absolute;
    height: 100px;
    width: 275px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(0.6);
    transition: 0.3s;

    z-index: -1;
}

.article-remove-list article h2{
    font-size: 22px;
}

.article-remove-list input[type="submit"]{
    position: absolute;
    height: 100px;
    width: 275px;

    margin-top: 6px;
    padding: 0;

    background: none;
    border: none;
}

.article-remove-list input[type="submit"]:focus{
    border: none;
    outline: none;
}

.article-remove-list input[type="submit"]:hover{
    cursor: pointer;
}

/*EDITER UN ARTICLE*/

.admin-content-edit{
    z-index: -10;
    opacity: 0;

    width: 100%;
    height: 100vh;

    transition: 0.5s;
    background: #e2be3c;
    position: absolute;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

    color: white;
}

.admin-content-edit-show{
    width: 100%;
    height: 100vh;

    z-index: 10;
    opacity: 1;

    transition: 0.5s;
    background: #f5ba5b;
    position: absolute;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

    color: white;
}

/*LE RESTE QUOI*/

.admin-screen{
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

    background: #9ad3e4;
}

.admin-phone{
    width: 0;
    height: 0;

    background: #faf2e7;
    border-radius: 20%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;

    transition:  opacity 0.3s, transform 0.1s, width 0.3s, height 0.3s;
    opacity: 0;

    overflow: hidden;
}

.lancement-anim{
    animation: tremblement 0.6s 0s 1;
}

.admin-phone h1{
    color: #776c63;
    font-size: 40px;

    margin-top: 20%;
    margin-bottom: 0;

    opacity: 0;
    transition: 0.3s;
}

.admin-phone-icons{
    width: 75%;
    height: 35vh;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    align-content: center;

    opacity: 0;

    transition: 0.3s;
}

.admin-phone-icons i{
    transition: 0.1s;
}

.admin-phone-icons i:hover{
    cursor: pointer;
    transform: scale(0.9);
}

.icon-add-article{
    color: #8ccf89;
}

.icon-remove-article{
    color: #dc8a68;
}

.icon-edit-article{
    color: #f5ba5b;
}

.admin-phone-icons i{
    font-size: 75px;
}

.admin-phone-home{
    height: 65px;
    width: 65px;

    background: #776c63;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

    opacity: 0;
    transition: opacity 0.3s, transform 0.1s;

    margin-bottom: 5%;
}

.admin-phone-home i{
    font-size: 35px;
    color: #eeece8;
}

.admin-phone-home:hover{
    cursor: pointer;
    transform: scale(0.9);
}

/*POUR LA CONNEXION*/

.admin-phone-co{
    width: 0;
    height: 0;

    background: #faf2e7;
    border-radius: 20%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;

    transition:  opacity 0.3s, transform 0.1s, width 0.3s, height 0.3s;
    opacity: 0;

    overflow: hidden;

}

.admin-phone-co h1{
    color: #776c63;
    font-size: 40px;

    margin-top: 20%;
    margin-bottom: 0;

    transition: 0.3s;
    opacity: 0;
}

.admin-phone-co form{
    width: 80%;
    height: 35vh;
   
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: center;

    transition: 0.3s;
    opacity: 0;
}

.admin-phone-co form input{
    width: 100%;
}

.admin-phone-co form input[type="password"]{
    background: #776c6334;
    border: none;
    border-radius: 5px;

    margin-bottom: 4%;
    color: #776c63;

    font-size: 40px;
    font-family: 'Overlock', cursive;

    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 5%;
    padding-right: 5%;

    transition: 0.3s;
}

.admin-phone-co form input[type="password"]:focus{
    outline: none;
    background: #776c6342;
}

.admin-phone-co form input[type="submit"]{
    background: none;
    border: #776c63 solid 2px;
    color: #776c63;
    margin-top: 4%;
}

.admin-phone-co form input[type="submit"]:hover{
    background: #776c63;
    border: #776c63 solid 2px;
    color: white;
}

.admin-phone-home-co{
    height: 65px;
    width: 65px;

    background: #776c63;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

    opacity: 0;
    transition: opacity 0.3s, transform 0.1s;

    margin-bottom: 5%;
}

.admin-phone-home-co i{
    font-size: 35px;
    color: #eeece8;
}

.admin-phone-home-co:hover{
    cursor: pointer;
    transform: scale(0.9);
}

/*LE RESTE*/


@keyframes tremblement {
    0%   {transform: rotate(0deg);}
    20% {transform: rotate(5deg);}
    40% {transform: rotate(-5deg);}
    60% {transform: rotate(5deg);}
    80% {transform: rotate(-5deg);}
    100% {transform: rotate(0deg);}
  }

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 700px) {

    /* Place the timelime to the left */
    .timeline::after {
        left: 31px;
    }

    /* Full-width containers */
    .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    /* Make sure that all arrows are pointing leftwards */
    .container::before {
        left: 60px;
        border: medium solid #ABD7FF;
        border-width: 10px 10px 10px 0;
        border-color: transparent #ABD7FF transparent transparent;
    }

    /* Make sure all circles are at the same spot */
    .left::after,
    .right::after {
        left: 15px;
    }

    /* Make all right containers behave like the left ones */
    .right {
        left: 0%;
    }
}